label{
    font-size: 20px !important;
    color: #838383;
}


 .form-control{
     box-shadow: none !important;
     color: black !important;
     font-size: 15px !important;
     
 }


 #textArea{
     border: 1px solid black !important;
 }

 .createTask{
     text-align: right;
 }
 
